


.footer {
    padding: 20px 40px 20px 0;
    display: flex;
    color: black;
    background-color: white;
    grid-area: footer;
}

.footer div a {
    color: black;
    text-decoration: none;
}

.footer div a:hover {
    text-decoration: underline;
}

.footer div h4 {
    font-weight: bold ;
}

#partnersLogo {
    display: flex;
    flex-direction: row;
}

#partnersLogo img {
    width: 150px;
    height: 60px;
}

.footer div {
    margin: 0 40px 0 20px;
    display: flex;
    flex-direction: column;
}