
@import url("/styles/util/dropdown.css");
@import url("/styles/util/search.css");

.header {
    display: flex;
    flex-direction: column;
    background-color: black;
    grid-area: header;
}

.headerItem {
    color: white;
    display: flex; 
}

#headerSubWrapper {
    height: 67px;
    margin: 0 100px;
}

.catalogItem {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
}


#logoAndLangAndCard {
    gap: 10px;
    justify-content: space-between;
}


#headIconsWrapper {
    align-items: center;
    display: flex;
    color: white;
}

#headIconsWrapper div {
    margin-right: 10px;
}

#links {
    height: 100%;
    margin-left: 100px;
    align-items: center;
    font-size: 14px;
}

#links div {
    margin-right: 20px;
}


#contentHead {
    background: linear-gradient(85deg, rgb(17 17 17) 32%, rgb(68 68 68) 100%);
}
