<div class="footerWrapper" th:fragment="footer">
    <div class="footer">
        <div>
            <a href="">About us</a>
        </div >

        <div style="display: flex;">
            <h4>How to buy</h4>
            <a href="">See all products</a>
            <a href="">link</a>
            <a href="">link</a>
            <a href="">link</a>
        </div>

        <div style="display: flex;">
            <h4>Support</h4>
            <a href="">Services</a>
            <a href="">link</a>
            <a href="">link</a>
            <a href="">link</a>
        </div>

        <div style="display: flex; margin-top: 30px;">
            <a href="">Catalog</a>
            <a href="">Office</a>
            <a href="">About us</a>
            <a href="">Contacts</a>
        </div>
    </div>

</div>