<div class="footer" th:fragment="footer">
    <div>
        <h4>Our partners</h4>
        <div id="partnersLogo">
            <img class=" img-thumbnail" th:src="@{/img/partners/msg1652898774-103722.jpg}" alt="">
            <img class=" img-thumbnail" th:src="@{/img/partners/msg1652898774-103723.jpg}" alt="">
            <img class=" img-thumbnail" th:src="@{/img/partners/msg1652898774-103724.jpg}" alt="">
            <img class=" img-thumbnail" th:src="@{/img/partners/msg1652898774-103728.jpg}" alt="">
        </div>
    </div >

    <div style="display: flex;">
        <h4>How to buy</h4>
        <a href="">See all products</a>
        <a href="">link</a>
        <a href="">link</a>
        <a href="">link</a>
    </div>

    <div style="display: flex;">
        <h4>Support</h4>
        <a href="">Services</a>
        <a href="">link</a>
        <a href="">link</a>
        <a href="">link</a>
    </div>

    <div style="display: flex; margin-top: 30px;">
        <a href="">Catalog</a>
        <a href="">Office</a>
        <a href="">About us</a>
        <a href="">Contacts</a>
    </div>
</div>