<div class="header" th:fragment="header">
  <div class="headerItem" id="logoAndLangAndCard">
    <div id="logoAndSearch" style="display: flex; margin-left: 20px;">
      <div style="align-self: center; margin-right: 20px;">

        <a href="/" style="text-decoration: none;">
          <div style="display: flex; gap: 10px">
            <img th:src="@{/img/assets/logo.jpg}" width="35px" height="35px" alt="" style="border-radius: 3px; align-self: center">
            <span th:text="#{headTitle}" style="font-size: 14px; color: white">Modern Enterprise Machines</span>
          </div>
        </a>
      </div>
      <div id="search">
        <div>
          <img th:src="@{/img/assets/magnifying_glass.jpg}" alt="">
        </div>

        <div>
          <input id="searchInput" type="text">
          <div id="searchedList">
          </div>
        </div>
      </div>
    </div>
    <div id="headIconsWrapper">
      <div class="dropdown">
        <div>
          <img th:src="@{/img/assets/globus.jpg}" alt="">
        </div>
        <div class="dropdown-content" style="right: -20px">
          <p data-lang="en-US" onclick="setLanguage(this)" >English</p>
          <p data-lang="de-DE" onclick="setLanguage(this)" >Deutsch</p>
          <p data-lang="pl-PL" onclick="setLanguage(this)" >język polski</p>
          <p data-lang="uk-UA" onclick="setLanguage(this)" >Українська</p>
          <p data-lang="ja-JP" onclick="setLanguage(this)" >日本語</p>
          <p data-lang="zh-CN" onclick="setLanguage(this)" >汉语/漢語</p>
          <p data-lang="es-ES" onclick="setLanguage(this)" >español</p>
          <p data-lang="hi-IN" onclick="setLanguage(this)" >हिन्दी</p>
          <p data-lang="fr-FR" onclick="setLanguage(this)" >français</p>
          <p data-lang="pt-PT" onclick="setLanguage(this)" >português</p>
          <p data-lang="tr-TR" onclick="setLanguage(this)" >Türkçe</p>
          <p data-lang="ru-RU" onclick="setLanguage(this)" >Русский</p>
        </div>
      </div>
    </div>
  </div>

  <div class="headerItem container-xl" id="links">
    <div class="dropdown">
      <div>
        <span>Catalog</span>
        <svg width="9" height="16" fill="none" xmlns="http://www.w3.org/2000/svg" id="caret-icon-uh-pn-1" class="uh-pn-caret-icon uh-pn-caret-level-0" data-testid="caret-icon-uh-pn-1"><path d="M8.001 6.25l-3.5 3.5-3.5-3.5" stroke="currentColor" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"></path></svg>
      </div>
      <div class="dropdown-content" style="min-width: 200px;">
        <a class="link catalogItem"
           th:href="@{'/good/manufacture-machine/catalog/' + ${catalogItem.id}}"
           th:text="${catalogItem.name}"
           th:each="catalogItem : ${catalogs}">
        </a>
      </div>
    </div>

    <div>
      <a class="link" href="">About</a>
    </div>
    <div>
      <a href="" class="link">Contacts</a>
    </div>
  </div>
</div>