<div class="header" th:fragment="header">
  <div id="headerSubWrapper" class="container">
    <div class="headerItem" id="logoAndLangAndCard">
      <div id="logoAndSearch">
        <div id="logoWrapper">
          <a href="/" style="text-decoration: none;">
            <div id="logo">
              <img th:src="@{/img/assets/logo.jpg}"  alt="logo">
              <span th:text="#{headTitle}">Modern Enterprise Machines</span>
            </div>
          </a>
        </div>

        <div style="height: 100%">
          <div id="search">
            <img th:src="@{/img/assets/magnifying-glass.svg}" alt="">
            <div id="searchInputWrapper">
              <input id="searchInput" type="text">
              <div id="searchedList"></div>
            </div>
          </div>
        </div>

      </div>
      <div id="headIconsWrapper">
        <div class="dropdown">
          <div style="display: flex; gap: 5px">
            <img style="height: 30px" th:src="@{/img/assets/globus.jpg}" alt="">
            <span style="font-weight: bold; align-self: center; font-size: 15px">US</span>
          </div>
          <div class="dropdown-content" style="right: -20px">
            <p data-lang="en-US" onclick="setLanguage(this)" >English</p>
            <p data-lang="de-DE" onclick="setLanguage(this)" >Deutsch</p>
            <p data-lang="pl-PL" onclick="setLanguage(this)" >język polski</p>
            <p data-lang="uk-UA" onclick="setLanguage(this)" >Українська</p>
            <p data-lang="ja-JP" onclick="setLanguage(this)" >日本語</p>
            <p data-lang="zh-CN" onclick="setLanguage(this)" >汉语/漢語</p>
            <p data-lang="es-ES" onclick="setLanguage(this)" >español</p>
            <p data-lang="hi-IN" onclick="setLanguage(this)" >हिन्दी</p>
            <p data-lang="fr-FR" onclick="setLanguage(this)" >français</p>
            <p data-lang="pt-PT" onclick="setLanguage(this)" >português</p>
            <p data-lang="tr-TR" onclick="setLanguage(this)" >Türkçe</p>
            <p data-lang="ru-RU" onclick="setLanguage(this)" >Русский</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="border-top: solid rgb(68, 68, 68) 1px;"></div>
  <div style="width: 100%; background-color: #0a0a0a; height: 53px">
    <div class="headerItem container" id="links" >
      <div class="dropdown">
        <div>
          <span style="font-size: 15px; font-weight: bold" >Catalog</span>
          <svg width="9" height="16" fill="none" xmlns="http://www.w3.org/2000/svg" id="caret-icon-uh-pn-1" class="uh-pn-caret-icon uh-pn-caret-level-0" data-testid="caret-icon-uh-pn-1"><path d="M8.001 6.25l-3.5 3.5-3.5-3.5" stroke="currentColor" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"></path></svg>
        </div>
        <div class="dropdown-content" style="min-width: 200px;">
          <a class="link catalogItem"
             th:href="@{'/good/manufacture-machine/catalog/' + ${catalogItem.id}}"
             th:text="${catalogItem.name}"
             th:each="catalogItem : ${catalogs}">
          </a>
        </div>
      </div>

      <div>
        <a style="font-size: 15px; font-weight: bold" class="link" href="">About</a>
      </div>
      <div>
        <a style="font-size: 15px; font-weight: bold"  href="" class="link">Contacts</a>
      </div>
    </div>
  </div>
</div>