<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paper machinery manufacture and services</title>
    <link rel="stylesheet" th:href="@{/styles/general/general.css}">
    <link rel="stylesheet" th:href="@{/styles/good.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <div class="main-wrapper">
        <div th:replace="~{/fragments/header.html :: header}"></div>

        <div class="content p-5" style="padding-bottom: 30px; position: relative;">
            <div class="d-flex" style="max-height: 400px; justify-content: space-between;">
                <div class="al text-white align-self-center" style="max-width: 500px;">
                    <img th:src="@{/img/assets/photo_5420422175967530204_m-removebg-preview.png}" alt="">
                    <h4 th:text="${machine.name}"></h4>
                    <h6 th:text="${machine.description}">HX-CS-1517</h6>
                    <div>
                        <span>Talk to our sales team</span>
                        <span></span>
                    </div>
                </div>
                <div>
                    <img th:src="@{/img/assets/good.png}" style="max-height: 400px;" class="img-fluid" alt="">
                </div>
            </div>
            <div style="background-color: rgb(56, 56, 56); border-radius: 10px; border: solid rgb(231, 231, 231) 1px; padding: 5px 20px 5px 20px; position: relative; bottom: 40px;">
                <div class="text-white" style="border-bottom: solid rgb(97, 97, 97) 2px; padding: 5px;">
                    <span style="font-weight: bold; font-size: 22px;">Price 10000$</span>
                    <span style="margin-left: 40px;">Payments: p1 p2 p3 p4</span>
                </div>
                <div class="text-white d-flex gap-4 py-4">

                    <div class="characteristics" style="border-right: solid rgb(97, 97, 97) 2px; padding-right: 30px;">
                        <h5>Main characteristics:</h5>
                        <div class="d-flex flex-columns gap-4">
                            <div>
                                <p>Weight</p>
                                <p>Type paper</p>
                                <p>Channel Big Swivel Slitting Machine</p>
                            </div>
                            <div>
                                <p>4000kg</p>
                                <p>Type 1</p>
                                <p>Channel Big Swivel</p>
                            </div>
                        </div>
                    </div>

                    <div class="characteristics">
                        <h5>Main characteristics:</h5>
                        <div class="d-flex flex-columns gap-4">
                            <div>
                                <p>Weight</p>
                                <p>Paper machinery manufacture and services</p>
                            </div>
                            <div>
                                <p>4000kg</p>
                                <p>Paper machinery</p>
                            </div>
                        </div>
                    </div>

                    <div>
                        
                    </div>
                </div>
            </div>
        </div>    

        <div th:replace="~{/fragments/footer.html :: footer}"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>