

.content {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 15%, rgb(95, 95, 95) 100%);
}

.characteristics p  {
    margin: 0px;
}

.characteristics h5:first-of-type {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 30px;
}

#goodInfo {
    background-color: rgb(56, 56, 56);
    border-radius: 10px;
    border: solid rgb(231, 231, 231) 1px;
    padding: 5px 20px 5px 20px;
    position: relative;
    bottom: -70px;
}