
.adminBtn {
    padding: 10px;
    height: fit-content;
}




#mainImageWrapper {
    position: relative;
    max-width: 720px;
    min-height: 400px;
}

#mainImageWrapper:hover .arrow svg  {
    display: block;
}



* {box-sizing: border-box;}

.img-magnifier-container {
    align-items: center;
    height: 100%;
    position: relative;
}

.img-magnifier-glass {
    left: -100px;
  position: absolute;
  border: 1px solid #000;
  cursor: none;
  width: 200px;
  height: 200px;
}


.imageListItem {
    align-items: center;
    height: inherit;
    user-select: none;
}

.imageListItem button {
    position: absolute;
    left: 0;
    z-index: 110
}

.zoomable {
    max-height: 448px;
}
