

.goodTypeBtn {
    background: none;
    color: white;
    width: 500px;
    height: 47px;
}

.goodTypeBtn span {
    font-size: 18px;
    margin-left: 30px;
}

.selectedGoodType div .goodTypeBtnHeadLine {
    background: rgb(255,255,255)!important;
    background: linear-gradient(90deg, rgba(255,255,255,1) 70%, rgba(0,0,0,1) 100%)!important;
}

.selectedGoodType {
    background: black;
}


.goodTypeBtn:hover {
    cursor: pointer;
}


.goodTypeBtn div {
    margin-bottom: 10px;
    height: 2px;
}

.goodTypeBtn div .goodTypeBtnHeadLine {
    background: none;
}

.underlined:hover span {
    text-decoration: underline;
}


@keyframes animatedgradient {
    0% {
        background-position: 95% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.tabText {
    margin-top: 200px;
    margin-left: 100px;
    color: white;
    align-self: center;
}

.tabItem {
    justify-content: space-between;
    display: flex;
}


#tabItem1 {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 60%, rgba(255,255,255,1) 100%);
}


.tabText button:first-of-type {
    border-radius: 3px;
    font-size: 18px;
    font-weight: bold;
    width: 150px;
}

.tabText div:first-of-type {
    margin-top: 10px;
}

.tabText div:first-of-type div {
    margin-top: 125px;
}

#partners {
    max-width: 600px;
    display: flex;
    column-gap: 100px;
    flex-direction: row;
}

#partners div {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

#partners div img {
    max-height: 70px;
    max-width: 200px;
}

.goodImg {
    margin-top: 66px;
    margin-right: 75px;
}